<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<bean id="mongoClientUri" class="com.mongodb.MongoClientURI">
		<constructor-arg ref="mongoDbUri"/>
	</bean>
	
	<bean id="mongoClient" class="com.mongodb.MongoClient">
		<constructor-arg ref="mongoClientUri"/>
	</bean>
	
	<bean id="productsDb" class="org.mcginn.arch.comply.products.db.MongoTemplateProductDb">
		<constructor-arg ref="mongoClient"/>
		<constructor-arg ref="mongoDbName"/>
		<constructor-arg value="product"/>
	</bean>
	
</beans>
